---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Curatorship" locale="en">
  <main class="no-scrollbar lg:mb-24">
    <div class="bg-blu px-3 py-2 text-4xl text-white">Curatela</div>

    <!-- TEXT 1 -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light ">Annalisa Dominoni, Benedetto Quaquaro</h1>

    <!-- <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">MAECI — Ministro degli Affari Esteri e della Cooperazione Internazionale</h2> -->

    <img src="../../curatorship/DSI_a+b_foto-in-blu.jpg" alt="Annalisa Dominoni, Benedetto Quaquaro" class="w-full h-auto mb-6"/>

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      <span class="font-NM-Book">Annalisa Dominoni and Benedetto Quaquaro are architects, designers, PhDs, among the leading experts in Architecture and Design for Space. Professors at the Politecnico di Milano, they have been conducting research and teaching activities at the Department and School of Design for more than twenty-five years They are responsible for ESA_LAB@PoliMi_Design and the first and only Space Design course Space4InspirACTion, supported by the European Space Agency (ESA).<br><br>

      They collaborate with leading space industries and design companies, generating innovation through knowledge and technology transfer between Space and Earth, with the aim of creating new extraterrestrial habitats and utility objects to enhance astronaut well-being, sustainability and performance in confined environments and reduced gravity.<br><br>

      For Thales Alenia Space, they designed <em>Sensory Space Station</em>, a new orbital station concept that introduces a module for the entertainment of astronauts and the Made in Italy style with innovative solutions of light, colour and materials to balance the lack of natural stimuli in confined environments and respond to the need for privacy.
      They have published more than 200 scientific essays on design culture that over the years have contributed to affirming the strategic role of Design for Space around the world. Recent publications include Design for Sustainability and Inclusion in Space, Springer (2024), Le Città dell'Universo. Come sarà abitare nello Spazio, Il Saggiatore (2023).<br><br>

      Their projects have been shown in several prestigious exhibitions, including the recent 23rd International Triennale Unknown Unknowns. An Introduction to Mysteries (Milan 2023).<br><br>

      They are Italian Design Ambassadors, visiting professors, guest speakers at international scientific conferences and public events.<br><br>

      In 2011 they founded the design studio (a+b) dominoni quaquaro, which works in very different project areas: transport design for large industries, fashion tech, collections of objects and furniture for companies, limited editions for art and design galleries.<br><br>

      In 2015 they designed the Leonardo trains for the Milan Metro for ATM, produced by Hitachi Rail Italy, and in 2019 the Pinna acoustic objects for Caimi Brevetti. Both projects received the awards: ADI Design Index, Compasso d'Oro Award XXV, Premio Eccellenze della Lombardia, DIA Design Intelligence Award..<br><br>


      Annalisa Dominoni was the founder of the Millennium Charter of Space Architecture (2002, Houston) and Principal Investigator of the VEST and GOAL experiments of integrated clothing and equipment systems for astronauts that she designed which were tested on the International Space Station.  She has received several prestigious awards, including: Compasso d'Oro XVII Award, Compasso d'Oro XX Research Selection Award, ESA Eneide Mission Team Achievement Award, Scientific Award for Young Researchers.<br><br>

      <strong>Benedetto Quaquaro</strong> began his career as a designer at Osvaldo Borsani's Tecno, working with renowned architects such as Norman Foster and Gae Aulenti, and has developed collaborations with important artists such as Getulio Alviani, Arnaldo Pomodoro, Luigi Veronesi and Bruno Munari. He has curated several artistic events and exhibitions and has realised projects in a wide variety of fields, from industrial construction in China for Foster & Wheeler to the overhead seats of Cesa 1882, a multiple world offshore champion.</span>
    </p>

    <!-- TEXT 2 -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light border-t border-black">ESA_LAB@POLIMI_DESIGN</h1>

    <!-- <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">MAECI — Direttore Generale per la Promozione del Sistema Paese</h2> -->

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      <span class="font-NM-Book">Design for Space at the Politecnico di Milano was born with Annalisa Dominoni's PhD in Industrial Design for Space (1997-2000) in a historical and political moment of great excitement for interplanetary human exploration. In 1998 the in orbit assembly of the International Space Station began, while at the Politecnico di Milano the School of Design was set up in 2000, which, thanks to its multidisciplinary and Poly-technical nature, fostered the exploration and in-depth study of new avant-garde research themes.<br><br>
        
      Since then, collaborations have taken place with leading international space agencies and industries and with Italian design companies to develop new projects dedicated to improving the well-being and performance of astronauts in confined and reduced-gravity environments, but also to creating knowledge transfers between Space and Earth and vice versa. Design for Space began to establish itself as an autonomous discipline evolving into a research and educational design path that generated the VEST (2001) and GOAL (2005) experiments conducted in orbit on the International Space Station.<br><br>

      In 2016, the European Space Agency (ESA) assigned Annalisa Dominoni with the direction of the Couture in Orbit project for Italy, a collection of clothes created to be worn on Earth that integrates space technologies. The results were presented with a fashion show at the London Science Museum, attracting great interest from the media. The relationship with ESA is consolidated, which in 2017 promotes and supports the creation of the first and only Space4InspirACTion Space Design MSc's course at the School of Design, led by Annalisa Dominoni and Benedetto Quaquaro, and which will create the conditions for the birth of ESA_LAB@PoliMi_Design.<br><br>

      In 2022 ESA and the Politecnico di Milano institutionalise the collaboration with ESA_Lab@PoliMi in order to intensify research and the promotion of the results of the University's departments.<br><br>
      
      ESA_LAB@PoliMi_Design, directed by Annalisa Dominoni and Benedetto Quaquaro, combines research and teaching activities with the promotion and dissemination of results through the design and organisation of exhibitions (Space4InspirACTion, 23rd International Trienniale Unknowns. An Introduction to Mysteries; Space Design for New Human Beings, 1st Festival of the New European Bauhaus, Fondazione Brodolini), the participation in science dissemination events (Festival della Scienza di Genova; Focus Live, Museo della Scienza e della Tecnologia Leonardo Da Vinci) and the publication of scientific articles and books that in more than twenty-five years have contributed to affirming the disruptive and strategic role of Design Spaziale Italiano in the world.</span>
    </p>

    <!-- TEXT 3 -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light border-t border-black">Space4InspirACtion</h1>

    <!-- <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">Rettrice del Politecnico di Milano</h2> -->

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      <span class="font-NM-Book">The 2017 saw the birth of Space4InspirACTion, the first and only Space Design course in the world directly supported by the European Space Agency, created and directed by Annalisa Dominoni and Benedetto Quaquaro at the School of Design of the Politecnico di Milano International Master's Degree in Integrated Product Design.<br><br>

      The aim is to bring to Space the best students interested in innovation in a new challenge that combines research and teaching to create disruptive projects in confined and reduced-gravity environments. Each year experts from the European Space Agency suggest project themes to be developed and testimonials to be involved, which can be astronauts, researchers and scientists. For each project, two companies, one from Space and one from Design, are selected to contribute to the development of the design concepts by integrating technological and manufacturing expertise. This process, in addition to increasing creativity and visioning skills, generates innovation with transfers from Space to Earth and vice versa of technologies, best practices and behaviors.<br><br>

      The themes developed in the various years address different complexities and scales: from food to personal hygiene, from fitness to clothing for extravehicular activities, from the Gateway Cislunar station to future bases for the Moon and Mars to futuristic wellness hotels investigating the theme of hospitality for commercial stations. Sustainability cuts across all projects, as does comfort to increase well-being and performance, and recently also inclusion, thanks to the collaboration with ESA's first parastronaut John McFall, a testimonial for the course, with whom prosthetic objects have been designed defining a concept of “new normal” for a “new environment”.<br><br>

      Among the major companies that have supported the course over the years, first and foremost Thales Alenia Space, are Argotech, Barilla Blu Rhapsody, Caimi Snowsound, Dainese, Foscarini, Italesse, Jacuzzi, Virgin Galactic, and Technogym.<br><br>
      
      Starting with the first edition in 2017 with the exhibition Space4InspirACTion. Projects and Visions for Space at the Planetarium Ulrico Hoepli in Milan, which expanded to the ESA ESOC venues in Darmstadt and Rome, there have been events and exhibitions in prestigious venues, such as Space Design for New Human Beings (organized in 2022 for the 1st Festival of the New European Bauhaus at the Fondazione Brodolini during Milan Design Week) and an entire section dedicated to Space4InspirACTion at the 23rd International Triennale Milan Exhibition Unknown Unknowns. An Introduction to Mysteries. While participating in Focus Live Festival, at the Leonardo Da Vinci Museum of Science and Technology, the Space4InspirACTion course wins the First Prize Raymond Zreick for Technology and Innovation. In 2024, the most significant projects are selected to be part of Design Spaziale Italiano.</span>
    </p>

    <!-- TEXT 4 -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light border-t border-black">Bibliografia</h1>

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      <span class="font-NM-Book">Dominoni, A. (2024) <span class="font-NM-Medium">Design for Sustainability and Inclusion in Space. How New European Bauhaus Principles Drive Nature & Parastronauts Projects.</span> SpringerBriefs in Applied Sciences and Technology. Springer.<br><br>

      Dominoni, A., Quaquaro, B. (2023) <span class="font-NM-Medium">Le città dell'universo. Come sarà abitare nello spazio.</span> Il Saggiatore.<br><br>

      Dominoni, A. (2022) <span class="font-NM-Medium">Rethinking the Design of Care Looking at Outer Space. How Art and Design Role can Improve the Living Conditions of Hypersensitive People and the Whole Society.</span> In: A. Dominoni, F. Scullica (edited by) Designing Behaviours for Well-Being Spaces. How Disruptive Approaches Can Improve Living Conditions. Design International. Franco Angeli. OA.<br><br>

      Dominoni, A. (2022) <span class="font-NM-Medium">International Space Station as Time Machine. New Routines of Everyday Life: Establishing a Time in Space.</span> In: A. Barbara, S. Gramegna (edited by) Time-Based Design Paradigms. Design International. Franco Angeli. OA.<br><br>

      Dominoni, A. (2021) <span class="font-NM-Medium">Design of Supporting Systems for Life in Outer Space. A Design Perspective on Space Missions Near Earth and Beyond.</span> Research for Development Editorial Series. Springer.<br><br>

      Dominoni, A. (2019) <span class="font-NM-Medium">Nuovi scenari abitativi per la stazione Cislunare Gateway e per le colonie lunari.</span> In: Kalin S,Raimondo C, Massicci M (edited by) L'avventura dell'uomo nello Spazio. Dalla Luna a Marte. 2. 2024. Ritorno sulla Luna, Vol. 2, pp. 088-097, Le Scienze. GEDI Gruppo Editoriale. Puntoweb.<br><br>

      Dominoni A., Quaquaro, B., Pappalardo, R. (2018) <span class="font-NM-Medium">Space Design Learning. An Innovative Approach of Space Education through Design.</span> In: Proceedings of 69th International Astronautical Congress (IAC), Bremen 01.05 October 2018.<br><br>

      Dominoni, A., Quaquaro, B., Fairburn, S. (2017) <span class="font-NM-Medium">Space4Inspiration: Survival Lab. Designing Countermeasures for Natural Disasters.</span> In: Design for Next. Proceedings of 12th European Academy of Design Conference (EAD). Rome 12-14 April 2017. Issue Supplement of The Design Journal, Vol. 20. Taylor & Francis Group.<br><br>

      Dominoni, A., Quaquaro, B. (2017) <span class="font-NM-Medium">Future Fashion. Space Research Inspires Innovation in Fashion.</span> In: The Space Journal, ROOM, Vol. 10. The Aerospace International Research Center GmbH Publishers Press.<br><br>

      Dominoni. A., Fairburn, S. (2015) <span class="font-NM-Medium">Designing from the Unfamiliar: How Designing for Space and Extreme Environments can Generate Spin-Offs and Innovative Products.</span> In: The Value of Design Research. Proceedings of 11th European Academy of Design Conference (EAD). Paris 22-24 April 2015.<br><br>

      Dominoni, A. (2015) <span class="font-NM-Medium">For Designers with Their Head Beyond the Clouds.</span> Maggioli Editore.<br><br>

      Dominoni, A. (2010) <span class="font-NM-Medium">Cosmic Space as a Key for Creative Design. How Industrial Design in Cosmic Space is Useful to Exemplify an Innovative Methodology for Design Process in Education.</span> In: Proceedings of International Technology, Education and Development Conference (INTED). Valencia 08-10 March 2010.<br><br>

      Dominoni, A. (2005) <span class="font-NM-Medium">VEST. Clothing Support System On-Orbit Validation.</span> In: Proceedings of 35th International Conference on Environmental Systems (ICES). Rome 11-14 July 2005. SAE Society of Automotive Engineers.<br><br>

      Dominoni, A. (2002) <span class="font-NM-Medium">Space Architecture Education in Milan.</span> In: Proceedings of 1st Space Architecture Symposium (SAS). Houston 10-11 October 2002. AIAA American Institute of Aeronautics and Astronautics.<br><br>

      Dominoni, A. (2002) <span class="font-NM-Medium">Designing for Space.</span> In: Proceedings of 1st Space Architecture Symposium (SAS). Houston 10-11 October 2002. AIAA American Institute of Aeronautics and Astronautics.<br><br>

      Dominoni, A. (2002) <span class="font-NM-Medium">Disegno Industriale per la Progettazione Spaziale / Industrial Design for Space.</span> Silvana Editoriale.<br><br>

      Dominoni, A. (1998) <span class="font-NM-Medium">IVA Clothing Support System.</span> In: Proceedings of Space Exploration and Resources Exploitation. ESA Explospace Workshop. Cagliari 20-22 October 1998. ESA European Space Agency.</span>
    </p>
  
  </main>
</Layout>

<style></style>
