---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Exhibitions" locale="en">
  <div class="bg-blu px-3 py-2 text-2xl lg:text-4xl text-white">Exhibition</div>
  <main class="no-scrollbar lg:mb-24">
    
    <!-- TEXT 1 : Progetto -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light ">THE MULTIMEDIA PROJECT</h1>

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      <span class="font-NM-Book"><em>Design Spaziale Italiano</em> is an itinerant multimedia project curated by Annalisa Dominoni and Benedetto Quaquaro and promoted by the Ministry of Foreign Affairs and International Cooperation in order to enhance the strategic role of Design for Space, a cutting-edge sector in our country of which the Politecnico di Milano has been a pioneer since the late 1990s, contributing to its development and affirmation.<br><br>
        
      The project, previewed in the diplomatic offices of Brussels, Prague, Paris, London and Vienna on the occasion of National Space Day 2024, consists of events and exhibitions of physical products, digital content, installations, animations and videos that develop different forms of <em>site-specific</em> narrative to communicate how the <em>shape</em> and <em>meaning</em> of the objects we use in our daily activities can change in the transition from Earth to Space.<br><br>
      
      The catalogue brings together these narratives, giving voice to the research and didactics developed with the support of the European Space Agency at the Department and the School of Design of the Politecnico di Milano, which over more than a quarter of a century of projects and experimentation has transformed Design for Space into an autonomous and avant-garde discipline, capable of acting as a bridge between human nature and technology and creating knowledge transfers between the space industry and design companies. The aim is to generate innovation and well-being in Space, by increasing comfort, sustainability, beauty, and inclusion, thanks also to the collaboration with the first European parastronaut John McFall.<br><br> 

      The theoretical-scientific contents and founding concepts of Design for Space are told through animations and videos of the Principles and Challenges that characterise and guide the design of confined and reduced gravity environments. The design contents bring together 36 Projects presented through images and mockups of space objects exhibited in the installation </span>“Cities of the Universe”<span class="font-NM-Book">, that highlight the strategic role of design in redefining a “new normality” for a “new environment” able to re-establishing a new balance of physical and emotional forces, gestures and relationships. Gravity is the great Designer that shapes objects by transforming their identity.</span>
    </p>


    <!-- TEXT 2 : Mostra -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light border-t border-black">THE EXHIBITION</h1>

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      <span class="font-NM-Book">The <em>Design Spaziale Italiano</em> exhibition projects us towards a future in which it will be possible to live on other celestial bodies, confronting us with confined environments and reduced gravity that are not part of the terrestrial experience and that transform our way of life: physiology, body shape, posture, perception of the entire environment change, gestures and behaviour, relationships with objects.<br><br>
      
      The themes addressed build a narrative in which the design role emerges capable of increasing well-being and generating innovation through sustainable, inclusive and beautiful projects in an extreme and challenging environment.<br><br>

      The theoretical-scientific contents that characterise and guide design are distilled into </span>8 Space Design Principles<span class="font-NM-Book">, which through animations and icons tell what <em>extreme, confinement, gravity</em> and the resulting <em>disorientation</em> mean, and how design can counteract the negative effects of these conditions by designing <em>protective structures</em>, environments that can reactivate the senses despite the lack of natural stimuli, objects that can use gravity to reduce the adaptation <em>time</em> to the new environment.
      
      The </span>12 Space Design Challenges<span class="font-NM-Book"> complete the fundamental reference contents for design aimed at improving the quality of life and performance of astronauts, similarly to what happens in the redefinition of concepts with a strong social impact, such as disability, which can be nullified in Space.<br><br>
      
      Finally, the projects contents comprise </span>36 Projects<span class="font-NM-Book">, of extraterrestrial habitats, equipment, clothing and wearables that propose innovative solutions for living and working in Space. <br><br>
      
      The exhibition has been designed to be flexible in its different narratives and modular, in order to easily adapt to the different contexts, both physical and thematic.</span>
    </p>


    <!-- TEXT 3 : Installazione -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light border-t border-black">THE INSTALLATION “CITIES OF THE UNIVERSE”</h1>

    <!-- <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">MAECI — Ministro degli Affari Esteri e della Cooperazione Internazionale</h2> -->

    <img src="../../exhibitions/Installazione_Citta_Universo-00.jpg" alt="Città dell'Universo" class="w-full h-auto mb-6"/>

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      <span class="font-NM-Book">The Italian Embassy in Prague hosted the installation “Cities of the Universe”, designed by Annalisa Dominoni and Benedetto Quaquaro in a dialogue between past and future in the historically dense environment of the Scuderie, and inspired by the book of the same name written by the curators.<br><br>

      <img src="../../exhibitions/Installazione_Citta_Universo-01.jpg" alt="Città dell'Universo" class="py-6 w-full" />
        
      Seven shining towers evoke the skyline of a hypothetical extraterrestrial city, hinting at visions of an ever closer future. Inside transparent showcases, recreating empty volumes emphasised by slender lines of light, are white mockups and prototypes of previously unseen space objects - the result of years of research and development into the various aspects of life in Space - which show how gravity has a decisive influence on the shape and use of many everyday products, making them alien and unrecognisable at first glance.

      <img src="../../exhibitions/Installazione_Citta_Universo-02.jpg" alt="Città dell'Universo" class="py-6 w-full" />
      <img src="../../exhibitions/Installazione_Citta_Universo-03.jpg" alt="Città dell'Universo" class="pb-6 w-full" />
  
      The public is called upon to immerse themselves in an unknown biophysics to understand what it means to design for Space and what it implies, what principles guide design in order to improve the comfort and performance of astronauts and consequently, determine the success of the entire mission: from the International Space Station to the visionary projects of lunar and Martian settlements, the future of interplanetary exploration is revealed.<br><br>
      
      <img src="../../exhibitions/Installazione_Citta_Universo-04.jpg" alt="Città dell'Universo" class="py-6 w-full" />
      <img src="../../exhibitions/Installazione_Citta_Universo-05.jpg" alt="Città dell'Universo" class="pb-6 w-full" />

      The choice of aluminium for the installation, a material widely used in the aerospace sector, is a reference to the theme of sustainability, a virtuous principle at the basis of Design for Space: the particular profile used to create the towers, supplied by Fiera Milano, is in fact totally re-used at the end of the exhibition.<br><br>

      <img src="../../exhibitions/Installazione_Citta_Universo-06.jpg" alt="Città dell'Universo" class="py-6 w-full" />
      <img src="../../exhibitions/Installazione_Citta_Universo-07.jpg" alt="Città dell'Universo" class="pb-9 w-full" />
      
      “Cities of the Universe” highlights how Design, in uniting creativity and innovation, can become a bridge between science, technology and beauty, creating scenarios of possible futures, because they are based on existing technologies or those under development, capable of stimulating emotions and reflections on how life will develop outside the Earth, both in Space and on other planets.
      </span>

      <img src="../../exhibitions/Installazione_Citta_Universo-08.jpg" alt="Città dell'Universo" class="py-6 w-full" />
      <img src="../../exhibitions/Installazione_Citta_Universo-09.jpg" alt="Città dell'Universo" class="pb-6 w-full" />
    </p>


    <!-- TEXT 4 : Bruxelles -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light border-t border-black">Bruxelles</h1>

    <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">28.11.2024 — Residence Palace</h2>

    <img src="../../exhibitions/DSI_Bruxelles-01.jpg" alt="DSI in Bruxelles" class="w-full h-auto mb-6"/>

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      Exhibition Design Spaziale — Italiano<br>
      Talk “Cities of the Universe” with Annalisa Dominoni and Benedetto Quaquaro<br> 
      <br> 
      <span class="font-NM-Book">Hosted by:</span><br> 
      Permanent Representation of Italy to the European Union<br> 
      <span class="font-NM-Book">Vincenzo Celeste / Permanent Representative<br> 
      Stefano Verrecchia / Deputy Permanent Representative</span>
    </p>

      <img src="../../exhibitions/DSI_Bruxelles-02.jpg" alt="DSI in Bruxelles" class="px-3 pb-3 w-full" />
      <img src="../../exhibitions/DSI_Bruxelles-05.jpg" alt="DSI in Bruxelles" class="px-3 py-3 w-full" />
      <img src="../../exhibitions/DSI_Bruxelles-06.jpg" alt="DSI in Bruxelles" class="px-3 py-3 w-full" />
      <img src="../../exhibitions/DSI_Bruxelles-10.jpg" alt="DSI in Bruxelles" class="px-3 py-3 w-full" />
      <img src="../../exhibitions/DSI_Bruxelles-07.jpg" alt="DSI in Bruxelles" class="px-3 py-3 w-full" />
      <img src="../../exhibitions/DSI_Bruxelles-08.jpg" alt="DSI in Bruxelles" class="px-3 pt-3 pb-6 w-full" />

    <!-- TEXT 5 : Praga -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light border-t border-black">Prague</h1>

    <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">04.12 / 20.12.2024 — Scuderie dell'Ambasciata d'Italia in Prague</h2>

    <img src="../../exhibitions/DSI_Praga-00.jpg" alt="DSI in Praga" class="w-full h-auto mb-6"/>

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      Exhibition Design Spaziale — Italiano<br>
      Talk and installation “Cities of the Universe” with Annalisa Dominoni and Benedetto Quaquaro<br> 
      <br> 
      <span class="font-NM-Book">Hosted by</span><br> 
      Embassy of Italy in Prague<br> 
      <span class="font-NM-Book">Mauro Marsili / Ambassador of Italy<br>
        Maria Cristina Falvella / Space Attachè<br>
        Giovanni Vietri / Administration Officer<br>
        Svetlana di Carlo / Space Team</span>
    </p>

      <img src="../../exhibitions/DSI_Praga-01.jpg" alt="DSI in Praga" class="px-3 pb-3 w-full" />
      <img src="../../exhibitions/DSI_Praga-02.jpg" alt="DSI in Praga" class="px-3 py-3 w-full" />
      <img src="../../exhibitions/DSI_Praga-03.jpg" alt="DSI in Praga" class="px-3 py-3 w-full" />
      <img src="../../exhibitions/DSI_Praga-04.jpg" alt="DSI in Praga" class="px-3 py-3 w-full" />
      <img src="../../exhibitions/DSI_Praga-05.jpg" alt="DSI in Praga" class="px-3 py-3 w-full" />
      <img src="../../exhibitions/DSI_Praga-06.jpg" alt="DSI in Praga" class="px-3 py-3 w-full" />
      <img src="../../exhibitions/DSI_Praga-07.jpg" alt="DSI in Praga" class="px-3 py-3 w-full" />
      <img src="../../exhibitions/DSI_Praga-08.jpg" alt="DSI in Praga" class="px-3 py-3 w-full" />
      <img src="../../exhibitions/DSI_Praga-09.jpg" alt="DSI in Praga" class="px-3 py-3 w-full" />
      <img src="../../exhibitions/DSI_Praga-10.jpg" alt="DSI in Praga" class="px-3 pt-3 pb-9 w-full" />

   
    <!-- TEXT 6 : Parigi -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light border-t border-black">Paris</h1>

    <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">12.12 / 19.12.2024 — European Space Agency (ESA)</h2>

    <img src="../../exhibitions/DSI_Parigi-01.jpg" alt="DSI in Paris" class="w-full h-auto mb-6"/>

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      Exhibition Design Spaziale — Italiano<br>
      Talk “Cities of the Universe” with Annalisa Dominoni and Benedetto Quaquaro<br> 
      <br> 
      <span class="font-NM-Book">Hosted by:</span><br> 
      Embassy of Italy in Paris<br> 
      <span class="font-NM-Book">Emanuela D'Alessandro / Ambassador of Italy</span><br><br>
      Permanent Representation of Italy to the International Organisations in Paris<br>
      <span class="font-NM-Book">Luca Sabbatucci / Permanent Representative<br>
      Alessandra Fiumara / Space Attaché</span>
    </p>

      <img src="../../exhibitions/DSI_Parigi-04.jpg" alt="DSI in Paris" class="px-3 py-3 w-full" />
      <img src="../../exhibitions/DSI_Parigi-02.jpg" alt="DSI in Paris" class="px-3 pb-3 w-full" />
      <img src="../../exhibitions/DSI_Parigi-03.jpg" alt="DSI in Paris" class="px-3 pt-3 pb-9 w-full" />


    <!-- TEXT 7 : Londra -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light border-t border-black">London</h1>

    <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">11.12.2024 — Embassy of Italy in London</h2>

    <img src="../../exhibitions/DSI_Londra-01.jpg" alt="DSI a Londra" class="w-full h-auto mb-6"/>

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      Exhibition Design Spaziale — Italiano<br>
      Talk “Cities of the Universe” with Annalisa Dominoni and Benedetto Quaquaro<br> 
      <br> 
      <span class="font-NM-Book">Hosted by:</span><br> 
      Embassy of Italy in London<br> 
      <span class="font-NM-Book">Inigo Lambertini / Ambassador of Italy<br>
        Umberto Bernardo / Head of the Economic Office</span>
    </p>

      <img src="../../exhibitions/DSI_Londra-03.jpg" alt="DSI a Londra" class="pb-3 py-3 w-full" />
      <img src="../../exhibitions/DSI_Londra-02.jpg" alt="DSI a Londra" class="px-3 py-3 w-full" />
      <img src="../../exhibitions/DSI_Londra-04.jpg" alt="DSI a Londra" class="px-3 pt-3 pb-9 w-full" />

    
    <!-- TEXT 8 : Vienna -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light border-t border-black">Wien</h1>

    <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">04.02.2025 — European Space Policy Institute (ESPI)</h2>

    <img src="../../exhibitions/DSI_Vienna-01.jpg" alt="DSI a Vienna" class="w-full h-auto mb-6"/>

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      Exhibition Design Spaziale — Italiano<br>
      Talk “Innovation Beauty Inspiration” with Luca Parmitano, Prada, Annalisa Dominoni and Benedetto Quaquaro<br> 
      <br> 
      <span class="font-NM-Book">Hosted by:</span><br> 
      Embassy of Italy in Vienna<br> 
      <span class="font-NM-Book">Giovanni Pugliese / Ambassador of Italy<br>
      Amedeo Stalano / Scientific Counselor</span><br>
      Permanent Representation of Italy to the International Organizations in Wien<br> 
      <span class="font-NM-Book">Debora Lepre /  Permanent Representative</span><br>
      European Space Policy Institute (ESPI)
    </p>

      <img src="../../exhibitions/DSI_Vienna-02.jpg" alt="DSI a Vienna" class="pb-3 py-3 w-full" />
      <img src="../../exhibitions/DSI_Vienna-03.jpg" alt="DSI a Vienna" class="px-3 py-3 w-full" />
      <img src="../../exhibitions/DSI_Vienna-04.jpg" alt="DSI a Vienna" class="px-3 py-3 w-full" />
      <img src="../../exhibitions/DSI_Vienna-05.jpg" alt="DSI a Vienna" class="px-3 pt-3 pb-3 w-full" />


</main>
</Layout>