---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Exhibitions" locale="en">
  <div class="bg-blu px-3 py-2 text-2xl lg:text-4xl text-white">Mostre</div>
  <main class="no-scrollbar lg:mb-24">

    <!-- TEXT 1 : Installazione -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light ">The installation Le Città dell'Universo</h1>

    <!-- <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">MAECI — Ministro degli Affari Esteri e della Cooperazione Internazionale</h2> -->

    <img src="../../exhibitions/Installazione_Citta_Universo-00.jpg" alt="Città dell'Universo" class="w-full h-auto mb-6"/>

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      <span class="font-NM-Book">The Italian Embassy in Prague hosted the installation “Le Città dell’Universo”, designed by Annalisa Dominoni and Benedetto Quaquaro in a dialogue between past and future in the historically dense environment of the Scuderie, and inspired by the book of the same name written by the curators.<br><br>

      Seven shining towers evoke the skyline of a hypothetical extraterrestrial city, hinting at visions of an ever closer future. Inside transparent showcases, recreating empty volumes emphasised by slender lines of light, are white mockups and prototypes of previously unseen space objects - the result of years of research and development into the various aspects of life in Space - which show how gravity has a decisive influence on the shape and use of many everyday products, making them alien and unrecognisable at first glance.</span>
    </p>

    <div class="grid grid-cols-2 gap-3 px-3 mb-12">
      <img src="../../exhibitions/Installazione_Citta_Universo-03.jpg" alt="Città dell'Universo" class="w-full" />
      <img src="../../exhibitions/Installazione_Citta_Universo-06.jpg" alt="Città dell'Universo" class="w-full" />
      <img src="../../exhibitions/Installazione_Citta_Universo-04.jpg" alt="Città dell'Universo" class="w-full" />
      <img src="../../exhibitions/Installazione_Citta_Universo-02.jpg" alt="Città dell'Universo" class="w-full" />
      <img src="../../exhibitions/Installazione_Citta_Universo-05.jpg" alt="Città dell'Universo" class="w-full" />
      <!-- Add more images as needed -->
    </div>  

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mb-12">
      <span class="font-NM-Book">The public is called upon to immerse themselves in an unknown biophysics to understand what it means to design for Space and what it implies, what principles guide design in order to improve the comfort and performance of astronauts and consequently, determine the success of the entire mission: from the International Space Station to the visionary projects of lunar and Martian settlements, the future of interplanetary exploration is revealed.<br><br>

      The choice of aluminium for the installation, a material widely used in the aerospace sector, is a reference to the theme of sustainability, a virtuous principle at the basis of Design for Space: the particular profile used to create the towers, supplied by Fiera Milano, is in fact totally re-used at the end of the exhibition.<br><br>

      “Le Città dell'Universo” highlights how Design, in uniting creativity and innovation, can become a bridge between science, technology and beauty, creating scenarios of possible futures, because they are based on existing technologies or those under development, capable of stimulating emotions and reflections on how life will develop outside the Earth, both in Space and on other planets.</span>
    </p>



    <!-- TEXT 2 : Bruxelles -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light border-t border-black">Bruxelles</h1>

    <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">28.11.2024 — Residence Palace</h2>

    <img src="../../exhibitions/DSI_Bruxelles-01.jpg" alt="DSI in Bruxelles" class="w-full h-auto mb-6"/>

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      Exhibition Design Spaziale — Italiano<br>
      Talk “Le Città dell'Universo” with Annalisa Dominoni and Benedetto Quaquaro<br> 
      <br> 
      <span class="font-NM-Book">Hosted by:</span><br> 
      Permanent Representation of Italy to the European Union<br> 
      <span class="font-NM-Book">Vincenzo Celeste / Permanent Representative<br> 
      Stefano Verrecchia / Deputy Permanent Representative</span><br> 
      <br> 
      Rue de la Loi 155
    </p>

    <div class="grid grid-cols-2 gap-3 px-3 mb-12">
      <img src="../../exhibitions/DSI_Bruxelles-03.jpg" alt="DSI in Bruxelles" class="w-full" />
      <img src="../../exhibitions/DSI_Bruxelles-04.jpg" alt="DSI in Bruxelles" class="w-full" />
      <img src="../../exhibitions/DSI_Bruxelles-02.jpg" alt="DSI in Bruxelles" class="w-full" />
      <!-- Add more images as needed -->
    </div> 



    <!-- TEXT 3 : Praga -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light border-t border-black">Praga</h1>

    <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">04.12 / 20.12.2024 — Scuderie dell'Ambasciata d'Italia a Praga</h2>

    <img src="../../exhibitions/DSI_Praga-02.jpg" alt="DSI in Praga" class="w-full h-auto mb-6"/>

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      Exhibition Design Spaziale — Italiano<br>
      Talk and installation “Le Città dell'Universo” with Annalisa Dominoni and Benedetto Quaquaro<br> 
      <br> 
      <span class="font-NM-Book">Hosted by:</span><br> 
      Embassy of Italy in Prague<br> 
      <span class="font-NM-Book">Mauro Marsili / Ambassador of Italy<br>
        Maria Cristina Falvella / Space Attachè<br>
        Giovanni Vietri / Administration Officer<br>
        Svetlana di Carlo / Space Team</span><br> 
      <br> 
      Nerudova 214/20<br>
      118 00 Malá Strana
    </p>

    <div class="grid grid-cols-2 gap-3 px-3 mb-12">
      <img src="../../exhibitions/DSI_Praga-01.jpg" alt="DSI in Praga" class="w-full" />
      <img src="../../exhibitions/DSI_Praga-03.jpg" alt="DSI in Praga" class="w-full" />
      <img src="../../exhibitions/DSI_Praga-04.jpg" alt="DSI in Praga" class="w-full" />
      <!-- Add more images as needed -->
    </div> 

   

    <!-- TEXT 4 : Parigi -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light border-t border-black">Parigi</h1>

    <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">12.12 / 19.12.2024 — European Space Agency (ESA)</h2>

    <img src="../../exhibitions/DSI_Parigi-01.jpg" alt="DSI in Paris" class="w-full h-auto mb-6"/>

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      Exhibition Design Spaziale — Italiano<br>
      Talk “Le Città dell'Universo” with Annalisa Dominoni and Benedetto Quaquaro<br> 
      <br> 
      <span class="font-NM-Book">Hosted by:</span><br> 
      Embassy of Italy in Paris<br> 
      <span class="font-NM-Book">Emanuela D'Alessandro / Ambassador of Italy</span><br><br>
      Permanent Representation of Italy to the International Organisations in Paris
      <span class="font-NM-Book">Luca Sabbatucci / Permanent Representative<br>
      Alessandra Fiumara / Space Attaché</span><br> 
      <br> 
      8/10 Rue Mario Nikis
    </p>

    <div class="grid grid-cols-2 gap-3 px-3 mb-12">
      <img src="../../exhibitions/DSI_Parigi-04.jpg" alt="DSI in Paris" class="w-full" />
      <img src="../../exhibitions/DSI_Parigi-02.jpg" alt="DSI in Paris" class="w-full" />
      <img src="../../exhibitions/DSI_Parigi-03.jpg" alt="DSI in Paris" class="w-full" />
      <!-- Add more images as needed -->
    </div> 


    <!-- TEXT 5 : Londra -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light border-t border-black">Londra</h1>

    <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">11.12.2024 — Embassy of Italy in London</h2>

    <img src="../../exhibitions/DSI_Londra-01.jpg" alt="DSI in London" class="w-full h-auto mb-6"/>

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      Exhibition Design Spaziale — Italiano<br>
      Talk “Le Città dell'Universo” con Annalisa Dominoni e Benedetto Quaquaro<br> 
      <br> 
      <span class="font-NM-Book">Hosted by:</span><br> 
      Embassy of Italy in London<br> 
      <span class="font-NM-Book">Inigo Lambertini / Ambassador of Italy<br>
        Umberto Bernardo / Head of the Economic Office</span><br><br>
      <br> 
      4 Grosvernor Square<br>
      London W1K 4ae
    </p>

    <div class="grid grid-cols-2 gap-3 px-3 mb-12">
      <img src="../../exhibitions/DSI_Londra-03.jpg" alt="DSI in London" class="w-full" />
      <img src="../../exhibitions/DSI_Londra-02.jpg" alt="DSI in London" class="w-full" />
      <img src="../../exhibitions/DSI_Londra-04.jpg" alt="DSI in London" class="w-full" />
      <!-- Add more images as needed -->
    </div> 

    


</main>
</Layout>