---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Design Spaziale Italiano - ENGLISH Version" locale="en">

  <div class="fixed left-0 inset-0 h-screen w-screen -z-10">
    <video
      class="w-full h-full object-fill -z-20 "
      src="/video/sfondo sito 2.mp4"
      poster="/video/sfondo_sito_png_2k.webp"
      autoplay
      muted
      loop
      playsinline
      webkit-playsinline
    ></video>
  </div>

  <main class="lg:mb-24 no-scrollbar">
    <div class="flex pb-8 p-3">
      <img src="/svg/DSI_logo_esteso_02.svg" alt="logo">
    </div>
    
    <h2 class="text-2xl sm:text-4xl lg:text-3xl xl:text-4xl 2xl:text-5xl p-3 my-4 mb-12 text-white">
      Italian Space Design is a traveling multimedia project curated by Annalisa Dominoni and Benedetto Quaquaro and promoted and financed by the Ministry of Foreign Affairs and International Cooperation in order to enhance the strategic role of Design for Space, a cutting-edge sector in our country of which the Politecnico di Milano has been a pioneer since 2001, contributing to its development and affirmation.
    </h2>

   <div class="flex flex-col gap-6 p-3 text-base text-white sm:text-base md:text-lg lg:text-base xl:text-xl my-4">
        <p>
          <span class="font-NM-Book">A project promoted by</span> <br>
          Ministry of Foreign Affairs and International Cooperation<br>
          Directorate General for Country Promotion<br>
          Alessandra Tognonato<br>
          <span class="font-NM-Book">Head of Office IX for Bilateral Scientific Cooperation</span><br>
          Emanuela Mennella<br>
          <span class="font-NM-Book">Cultural Promotion Area Officer of Office IX</span><br>
          Giorgio Centineo<br>
          <span class="font-NM-Book">Administrative and accounting assistant of Office IX</span>
        </p>
        <p>
          <span class="font-NM-Book">In collaboration with</span><br>
          Politecnico di Milano<br>
          Dipartimento and Scuola del Design
        </p>
        <p>
          <span class="font-NM-Book">Curators</span><br>
          Annalisa Dominoni<br>
          Benedetto Quaquaro
        </p>
        <p>
          <span class="font-NM-Book">Scientific direction</span><br>
          Annalisa Dominoni<br>
          Politecnico di Milano, Dipartimento di Design
        </p>
        <p>
          <span class="font-NM-Book">Scientific partner</span><br>
          Agenzia Spaziale Europea (ESA)
        </p>
        <p>
          <span class="font-NM-Book">Exhibition design</span><br>
          Annalisa Dominoni<br>
          Benedetto Quaquaro
        </p>
        <p>
          <span class="font-NM-Book">Set up</span><br>
          Allestimenti Benfenati<br>
          Nolo Stand Fiera Milano
        </p>
        <p>
          <span class="font-NM-Book">Visual identity, videos/principles, catalogue, website</span><br>
          <a href="https://propp.it/" target="_blank" class="hover:text-blu transition-colors">propp.it</a>
        </p>
        <p>
          <span class="font-NM-Book">Videos/challenges</span><br>
          Lab Immagine, Politecnico di Milano, Dipartimento di Design
        </p>
      </div>

  </main>
</Layout>