---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Texts" locale="en">
  <main class="no-scrollbar lg:mb-24">
    <div class="bg-blu px-3 py-2 text-4xl text-white">Texts</div>

    <!-- TEXT 1 -->
    <!--  <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light ">—</h1>-->

    <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">MAECI — Ministro degli Affari Esteri e della Cooperazione Internazionale</h2> 

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      <span class="font-NM-Book">The <em>Design Spaziale Italiano</em> project, promoted by the General Directorate for the Promotion of the Country System, in collaboration with the Politecnico di Milano and as part of the activity to promote Italian scientific and technological excellence, represents a synthesis of innovation, advanced research and strategic vision.<br><br>

      <em>Design Spaziale Italiano</em> s part of a highly specialized and ambitious field: the design of innovative solutions for space exploration, a rapidly evolving sector that is crucial for the future of Italian aerospace technologies. The innovative aspect of the project lies not only in its ability to respond to global technological challenges, but also in its ability to combine our Country's tradition of excellence in the design sector with the latest scientific trends.<br><br>
      
      Thanks to the multidisciplinary approach of its creators and curators, professors Annalisa Dominoni and Benedetto Quaquaro of the Politecnico di Milano, the project aims to promote an innovative vision of Italian design applied to Space, with solutions that combine aesthetics, functionality and sustainability. The added value of this initiative lies in the synergy between universities, research and institutions, a combination that fosters the growth of highly professional and innovative skills in an international context.<br><br>
      
      Italy has been engaged for sixty years in space exploration, which began on 16 December 1964 with the launch of the satellite S. Marco 1, under the pioneering impetus of General Luigi Broglio, Dean of the School of Space Engineering in Rome. The innovations achieved in aerospace research have found concrete applications in people's daily lives since the trees. Research methods and the use of data have now become standards applicable in many fields of research.<br><br>

      Since then, space design has been a source of increasing opportunities: <em>Design Spaziale Italiano</em> established itself as the new frontier of our know-how, pushing design under extreme conditions to create new ways of living and using objects, and exploiting experimentation to optimise the quality of life in orbit, as in the case of the new prosthetic objects. Thanks to the technological and design spin-offs of the Italian industry of the future, the innovative approach of aerospace science will make it possible to go beyond current limits.</span>
    </p>


    <!-- TEXT 2 
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light border-t border-black">—</h1>

    <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">MAECI — Direttore Generale per la Promozione del Sistema Paese</h2> 

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      <span class="font-NM-Book">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at nulla nulla. Cras ac luctus lacus. Integer efficitur maximus tellus rutrum tempor. Suspendisse ac dictum odio. Sed faucibus pharetra libero nec finibus. Nam euismod laoreet augue, in aliquam erat placerat sed. Maecenas ac sem in velit consectetur sagittis ac id nibh. In sit amet ultrices libero. Praesent efficitur nisi non erat maximus, sit amet tristique orci sagittis. Sed et dui in ipsum lacinia semper. Etiam quis justo nisl. Aliquam molestie, sem vel vehicula suscipit, orci dui vehicula lectus, quis ultricies arcu enim varius lectus. Donec vel urna lacus. Etiam facilisis semper tempus. Sed quis arcu turpis. Quisque commodo orci at laoreet imperdiet. Donec dapibus mollis sodales. Mauris finibus odio ante, in placerat enim congue porta. Donec a malesuada risus, ut facilisis orci.<br><br>

      Sed in ligula sed enim eleifend tincidunt. Donec Etiam condimentum quis nisi sed elementum. Ut sit amet quam consequat, ornare sapien eget, congue nunc. Cras blandit leo lorem, vel fringilla velit vulputate et. Nam vel tempor purus. Vestibulum eget massa molestie, commodo nunc vitae, sodales nunc. Nam vel egestas neque, ac euismod ex. Praesent eu velit dui. Vestibulum commodo lorem non vehicula gravida. Aenean mauris dui, lobortis at fringilla et, dictum et lectus. Quisque et mauris id orci dapibus suscipit. Sed nec congue massa. Praesent pharetra elit a accumsan accumsan. Nulla maximus, massa vulputate sodales consequat, felis quam egestas urna, at ullamcorper enim velit ut massa.<br><br>

      Integer sodales faucibus nisl a pulvi ar. Cras tincidunt blandit nibh sed laoreet. Donec cursus quam lectus, vehicula lacinia dui ultrices eu. Ut ultrices rutrum metus in porta. Vestibulum ornare vehicula nisl. Curabitur ut magna id velit porttitor vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc cursus nisl ut consequat eleifend. Sed egestas fringilla justo sed porttitor. In dui sem, sollicitudin eu sollicitudin sit amet, fermentum eu ex. Praesent sit amet vulputate arcu. Nunc et sem mi. Nulla ac dignissim eros, sit amet feugiat dolor. Vivamus tincidunt mi id risus porta ornare. Etiam vulputate diam est, non eleifend arcu feugiat in. Aenean porta consequat scelerisque. Maecenas neque magna, tincidunt vel turpis sit amet, porta aliquet dui.<br><br>

      Morbi efficitur finibus sapien feugiat consectetur. In hac habitasse platea dictumst. Cras scelerisque ex quis neque finibus, vitae placerat lectus viverra. Sed lacinia dapibus ipsum, at facilisis lacus. Aliquam vel nisl posuere, fringilla sem fermentum, interdum risus.</span>
    </p>
    -->

    <!-- TEXT 3 -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light border-t border-black">Donatella Sciuto</h1>

    <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">Rettrice del Politecnico di Milano</h2> 

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      <span class="font-NM-Book">Design for Space is undoubtedly a fascinating field. Aesthetics, functionality, safety and well-being: its value lies in the ability to create versatile environments that support human life under extreme conditions.<br><br>

      This is why designing new environments in Space means, first of all, innovating and experimenting, developing unexplored solutions that can find applications on Earth and improve our daily lives. I am thinking, for example, of the technologies for efficient management of resources and recycling of water and air; the cultivation of 3D food and the use of microalgae on the Moon; new materials and alternative fabrics… <br><br>
      
      All this makes Space Design a multidisciplinary field that requires creativity and skill, design and a deep understanding of human needs. The challenges posed by Space - from research to economics and society - are indeed manifold and complex. Among the most significant are environmental sustainability, as well as inclusion (Space breaks down physical barriers and offers a unique opportunity to address disability in an innovative way, as demonstrated by working with the parastronaut John McFall) technology transfer, which brings together two leading sectors for our economy (let's not forget that currently the <em>space economy</em> market has a world value of more than $ 370 billion, expected to increase by 74% by 2030, and that Italy is in seventh place for investments in relation to GDP).<br><br>
      
      <em>Design Spaziale Italiano</em> is therefore, in its essence, a multimedia project that reflects the “Poly-technique” matrix. It is from the end of the nineties that our Athenaeum, thanks to the experience of the curators, Annalisa Dominoni and Benedetto Quaquaro, boasts more than a quarter of century of studies and experiments. This is the first time that the contents and results of a course (<em>Space4InspirACTion</em>, the first and only case supported by ESA) are recognized at institutional and international level as an Italian excellence at global level.<br><br>

      The agreement and collaboration with the Ministry of Foreign Affairs and International Cooperation, as well as the different stages around Europe and the world, are an important commitment to tell and share with the general public an alternative dimension today, but which, in a not-so-distant future, will be part of our reality and our evolution. Design for Space projects us towards a future where we can live on other celestial bodies, adapt to new environments, change our perception of ourselves and interact with the environment.<br><br>

      This new era begins today.</span>
    </p>

    <!-- TEXT 4 -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light border-t border-black">Amalia Ercoli Finzi</h1>

    <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">Professoressa Onoraria Ingegneria Aerospaziale, Politecnico di Milano</h2> 

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      <span class="font-NM-Book"><em>Design Spaziale Italiano</em> is a project that looks far into space and time: in Space, because it proposes solutions that will find their application in contexts far from Earth, at distances whose unit of measurement is the astronomical unit, the 150 million kilometres that separate the Earth from the Sun, and in time, because their realization is expected in a future that may not be very far away, but certainly not in the future of a few years.<br><br>

      The “Design Spaziale”, I said, in a field, that of space activities, which since “time 0”, on 4 October 1957, the date of the launch of Sputnik, have undergone an unthinkable and unimaginable development, thanks to the presence in orbit of many application satellites, but above all for planetary exploration missions, where the thirst for knowledge finds its highest and most prestigious expression.<br><br>

      But why Design Spaziale “Italiano”? Because Italian space activities have distant roots, right at the beginning, when the skills, competence and creativity of Italy allowed products with evocative names such as San Marco, Sirio, SAX…  to be launched into orbit to achieve Rosetta and ExoMars.<br><br>

      We therefore applaud this project and its authors, Annalisa Dominoni and Benedetto Quaquaro, who, after so much success, have created a milestone in the history of <em>Design Spaziale Italiano</em> that will inspire the international Space Design of tomorrow, supported by the “skills, expertise and creativity” of our scientists.<br><br>

      Q.E.D. - Quod Erat Demonstrandum.</span>
    </p>

    <!-- TEXT 5 -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light border-t border-black">Alessandro Deserti</h1>

    <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">Direttore del Dipartimento di Design, Politecnico di Milano</h2> 

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      <span class="font-NM-Book"><em>Design Spaziale Italiano</em> is a tribute to Italian excellence in Design for Space and represents an extraordinary example of how design can combine creativity and innovation, acting as a bridge between science, technology and beauty. The project promotes and enhances the role of Design for Space, a field in which Italy has been a pioneer and in which the Politecnico di Milano has particularly distinguished itself.<br><br>

      Annalisa Dominoni and Benedetto Quaquaro, professors of the School of Design of the Politecnico di Milano, have managed to lead this project with a clear and innovative vision, projecting us towards a future in which it will be possible to live on other celestial bodies. Their work explores how the transition from Earth to Space can transform our physiology, posture, perception of space and our daily interactions with objects.<br><br>

      The project, presented in prestigious diplomatic venues such as Brussels, Prague, Paris, London and Vienna, consists of events and exhibitions which include physical products, digital content, installations, animations and videos effectively communicate how objects' shape and meaning can change in the transition from Earth to Space. The themes addressed in the different installations build a unique story, characterized by many articulations and facets, in which emerges the ability of design to generate innovation through sustainable and inclusive products, even in Space.<br><br>

      The best wish I can have for a project that was born in university classrooms and that celebrates Italian design excellence on an international level is to offer the general public an updated view of Italian design, telling from a particular perspective how it has evolved and entered many new fields of application, and to be a source of inspiration for new generations of designers in Italy and abroad.</span>
    </p>

    <!-- TEXT 6 -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light border-t border-black">Francesco Zurlo</h1>

    <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">Preside della Scuola del Design, Politecnico di Milano</h2> 

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6 mb-12">
      <span class="font-NM-Book">Designing for Space is one of the most demanding challenges for a designer today. The passion and expertise that have characterised and will continue to characterise the work of Annalisa Dominoni and Benedetto Quaquaro, professors of Industrial Design at the Politecnico di Milano's Master's Degree in Integrated Product Design, are exemplary of these challenges.<br><br>

      I remember Annalisa Dominoni's research at the PhD in Design at the Politecnico: I have no memory of the research of my other colleagues at the time but I can vividly recall the progress of her work, which was pioneering for design.<br><br>

      In that work, as in the subsequent exploratory and design activities of Dominoni and Quaquaro, the key is twofold.
      On the one hand, to put the person with his or her abilities and needs at the centre, beyond the simple dimension of use (not “user” but “person”  precisely), re-functionalising even very conventional products (a dress, a tool, a fitness equipment) by associating meanings with them. These meanings also include that dimension of beauty that still characterises the Italian approach to design and contributes to the <em>sensemaking</em> of all that is artificial and man-made. Twenty years ago, when this journey began, there were not yet the initiatives of SpaceX or other tycoons interested in the conquest of Mars or space tourism. There were a few whispers of what is now emerging as a new business environment and promising innovation activity.<br><br>

      On the other hand, the reference is precisely to a dimension specific to design: innovation. Dominoni and Quaquaro explain precisely, also thanks to the projects on display in this travelling exhibition promoted by MAECI, the <em>reason-why</em> for this research: the confrontation with zero-gravity contexts, with environmental conditions unsuitable for life as we know it, with energetic, nutritional, operational and medical problems poses unprecedented challenges. Challenges which, however, as in a game of mirrors, make it possible to identify technological solutions that can also be applied on Earth. And not only in extreme environments.<br><br>

      Their work is also a formidable <em>imagineering</em> activity: it makes clear the mission inherent in any project activity, namely to anticipate possible and sustainable futures for human beings, for what we now call <em>more than human</em> and also for future generations. Progress needs to build consensus on these futures, creating the meaning of what is to come also thanks to this process of <em>engineering the imagination</em>, to which <em>science fiction</em> texts and films have contributed a great deal, but which find further activators of meaning in the prototypes and models of the authors.<br><br>

      <em>Design Spaziale Italiano</em> is therefore a project that looks to the future, to the future of Space, but also to the future of Design. It is a project that has been able to combine the best of Italian design with the most advanced research in the field of Space, creating a unique and innovative experience. It is a project that tells us how design can change our lives, even in Space.<br><br>

      For a future that will see human beings increasingly protagonists in Space.</span>
      </p>

     <!-- TEXT 7 -->
    <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light border-t border-black">Annalisa Dominoni, Benedetto Quaquaro</h1>

    <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl bg-gray-200 text-blu p-3">Curatori di Design Spaziale Italiano</h2> 

    <p class="p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl mt-6">
      <span class="font-NM-Book">It all stems from a question: what can Design do to improve conditions for those who go beyond the Earth's atmosphere with the aim of exploring other worlds? In approaching a field that is as fascinating as it is unknown (when we started Space was only the domain of large national agencies) we realised that Design can do a lot. Especially being within a university, such as the Politecnico di Milano, which knows how to “work as a system” and has been able to foster the multidisciplinary nature of Design by enriching it with science and technology.<br><br>

      But what does Design mean? While in the Anglo-Saxon world it refers to design in its broadest sense, for us it means <em>innovation</em>. The word Design does not simply indicate a “beautiful and well-made” product, an expression of Made in Italy, but a set of design actions aimed at improving people's life, experience, and way of working, especially when they have to live in a difficult and hostile environment, characterised by extreme conditions, such as confinement and reduced gravity, which are not part of our earthly life.<br><br>

      In Space, our physiology alters, our bodies change shape, it is more difficult to maintain a stable position, our senses are deprived of natural stimuli, perceptions and relationships with the environment and objects change. If living in Space is like being “born again” for an astronaut, for a designer it means developing a “predictive” ability to imagine how new environments and objects in different physical conditions will react to those we know, how they will be used, what emotions they will evoke and whether they will really enhance well-being.<br><br>

      For more than twenty-five years of research, teaching and design, our aim has been to push forward the limit of comfort, both physical and psychological, to increase the quality of performance and the success of a space mission, but also to generate knowledge transfers between Space and Earth and vice versa. This is even more important today when the commercial exploitation of Space is transforming the meaning of space travel and the figure of the astronaut, who will no longer be just a scientist or a specialised technician, but also an untrained tourist in search of unique and extraordinary experiences.<br><br>

      It has been and continues to be an exciting journey, which over the years has brought us together with companies, people and cutting-edge technologies that represent the best our Country has to offer in terms of ingeniousness, creativity and ability to innovate.<br><br>

      <em>Design Spaziale Italiano</em> recounts this journey. Between science, technology and beauty.</span>
    </p>
  
  </main>
</Layout>

<style></style>
